.homePageLayout{
  margin-right: 40px;
}

.homePageBody{
  background-color: white;
  margin-top: 0px;
  margin: 30px;
  height: 1500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}


.homePageBody .userGreeting{
  background-color: white;
  flex: 0.2;
}

.homePageBody .userGreeting p{
  font-weight: bold;
}


.homePageBody .didYouKnow{
  background-color: #B9E0F3;
  flex: 0.3;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-top-color: #244993;
  border-bottom-color: #244993;
}

.didYouKnow p{
  margin-left: 100px;
}

.didYouKnow h2{
  margin-left: 100px;
}

.homePageBody .gameSection{
  background-color:white;
  flex-direction: row;
  display: flex;
  flex:1.5;
}

.gameSection .gameLogo img{
  flex: 1;
  margin: 10px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  transition: width 2s, height 2s, transform 2s;
  animation: mymove 5s infinite;

  /* width: 600px;
  height: 500px; */
}

@keyframes mymove {
  from { width: 200px}
  to {width: 600px;}
  from {height: 100px;}
  to {height: 500px;}
}


.gameSection .gameText{
  background-color: rgb(226, 221, 221);
  flex: 1;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 600px;
  height: 500px;
  
}

.gameSection .gameText button{
  background-color: #244993;
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 325px;
  left: 35%;
  height: 60px;
  width: 250px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #244993;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.gameSection .gameText button:hover span {
  padding-right: 25px;
}

.gameSection .gameText button:hover span:after {
  opacity: 1;
  right: 0;
}

.gameSection .gameText button:hover span {
  padding-right: 35px;
}

.gameSection .gameText button:hover span:after {
  content: ' \00bb';
  opacity: 1;
  right: 0;
}

.gameSection .gameText h3{
 text-align: center;
 margin-top: 40px;
 font-family: sans-serif;
 font-size: 35px;
}

.gameSection .gameText p{
  margin-top: 60px;
  max-width: 600px;
  display: inline-block;
  font-weight: lighter;
  font-family: sans-serif;


 }

 .gameText .additional{
   margin-bottom: 120px;
   font-size: 20px;
   align-content: bottom;
 }

.homePageBody .additionalResources{
  background-color: rgba(249, 207, 30, 0.06);
  flex: 1;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top-width: 9px;
  border-bottom-width: 9px;
  border-top-color: #F9CF1E;
  border-bottom-color: #F9CF1E;

}

.additionalResources{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.additionalResources .education p{
  max-width: 430px;
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  /* margin-top: 50px; */
}

.additionalResources .resources p{
  max-width: 430px;
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  /* margin-top: 50px; */
}

.additionalResources .wellnessToDo p{
  max-width: 430px;
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  /* margin-top: 50px; */
}


.additionalResources button{
  height: 50px;
  width: 200px;
  margin-left: 60px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #244993;
  /* font-weight: bolder; */
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  border-color: #244993;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 40px;
}

.additionalResources button:hover{
  background-color: #244993;
  color: aliceblue;
}


.additionalResources h3{
  margin-left: 60px;
}

.homePageBody .bottomSectionHomepage{
  flex: 1;
  margin-top: 20px;
  /*here*/
  display: flex;
}

.bottomSectionHomepage .recommended{
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.recommended .one{
  background-color: darkgray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex: 1;
}

.one .podcastLogo{
  width: 200px;
  height: 120px;
  margin-left: 0px;
}

.recommended .one audio{
  width: 400px;
  height: 70px;
  margin-left: 30px;
  position: absolute;
}

.recommended .likeButton{
  width: 3%;
  cursor: pointer;
}

.one p{
  cursor: pointer;

  /* Here */
  position: absolute;
  display: inline-block;
  margin-top: 20px;
  margin-left: 40px;
}


.recommended .two{
  background-color: darkgray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex: 1;
  margin-top: 20px;
  
}

.recommended .two img{
  width: 3%;
  cursor: pointer;
}

.recommended .two video{
  width: 200px;
  height: 700px;
  margin-top: -294px;
  margin-left: 0px;
  position: absolute;
} 

.two p{
  margin-left: 250px;
  max-width: 600px;
  /*font-size: 50px; */
}

.bottomSectionHomepage .submitPost{
  background-color: white;
  border-radius: 20px;
  /* align-content: center; */
  flex: 1;
  margin-left: 20px;
  height: 400px;
}